.txtcolor0 {
  color: #ffffffbf;
  font-size: 35px;
}
body{
  padding:0;
  margin:0;
}
.txtcolor2 {
  color: #c3f59c;;
}

.txtstyle0 {
  font-weight: 400;
}

.txtstyle2 {
  font-size: 50px;
}

.bgimg {
  position: relative;
  background-image: url("../../Photos/front.jpeg");
  z-index: 0;
  /* Ensure the pseudo-element is behind the content */
  border-radius: 0px 0px 30px 30px; /* Apply border radius */
  overflow: hidden; /* Hide overflow to respect border radius */
}

.bgimg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  filter: brightness(0.5);
  z-index: -1;
  /* Place the pseudo-element behind the content */
  border-radius: 0px 0px 30px 30px; /* Add border radius only to the top */
}

/* Add your existing styles here */


.btnJoinUs {
  background-color: transparent;
  width: 120px;
  color:white;
  /* Set width to auto to fit content */
  justify-content: left;
  /* Align content to the left */
  padding-right: 35px;
  /* Add padding to the right to create space for the circle */
  position: relative;
  /* Position relative for absolute positioning of the circle */
  border-color: #c3f59c;
}

.btnJoinUs:hover {
  background-color: #c3f59c;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color:black;
}
.circle2 {
  position: absolute;
  top: 50%;
  right: 5px;
  /* Adjust this value to position the circle */
  transform: translateY(-50%);
  width: 30px;
  /* Diameter of the circle */
  height: 30px;
  /* Diameter of the circle */
  background-color:  #c3f59c;
  border-radius: 50%;
}

.circle2::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  /* Size of the arrow */
  height: 10px;
  /* Size of the arrow */
  border-top: 2px solid black;
  /* Color and thickness of the arrow */
  border-right: 2px solid black;
  /* Color and thickness of the arrow */
}

.btnDonate {
  background-color: #c3f59c;
  width: 120px;
  color:black;
  /* Set width to auto to fit content */
  justify-content: left;
  /* Align content to the left */
  padding-right: 35px;
  /* Add padding to the right to create space for the circle */
  position: relative;
  border:none;
  /* Position relative for absolute positioning of the circle */
}

.btnDonate:hover {
  background-color: #c3f59c;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  color:black;
}

.circle1 {
  position: absolute;
  top: 50%;
  right: 5px;
  /* Adjust this value to position the circle */
  transform: translateY(-50%);
  width: 30px;
  /* Diameter of the circle */
  height: 30px;
  /* Diameter of the circle */
  background-color: white;
  border-radius: 50%;
}

.circle1::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  /* Size of the arrow */
  height: 10px;
  /* Size of the arrow */
  border-top: 2px solid black;
  /* Color and thickness of the arrow */
  border-right: 2px solid black;
  /* Color and thickness of the arrow */
}

@media (max-width: 1030px) {
  .txtcolor0 {
    color: #ffffffbf;
    font-size: 25px;
  }

  .txtstyle2 {
    font-size: 35px;
  }
}

@media (max-width: 775px) {
  .txtcolor0 {
    color: #ffffffbf;
    font-size: 30px;
  }

  .txtstyle2 {
    font-size: 40px;
  }
}

@media (max-width: 450px) {
  .txtcolor0 {
    color: #ffffffbf;
    font-size: 20px;
  }

  .txtstyle2 {
    font-size: 25px;
  }
}

@media (max-width: 385px) {
  .txtcolor0 {
    color: #ffffffbf;
    font-size: 15px;
  }

  .txtstyle2 {
    font-size: 20px;
  }
}
.font-size {
  font-size: 72px; /* Default font size for medium-sized screens */
}
.partner-font{
  font-size: 50px;
}
.title-font{
  font-size: 46px;
}
/* Media query for screens larger than 768px */
@media (min-width: 769px) {
  .font-size {
    font-size: 80px; /* Larger font size for screens wider than 768px */
  }
  .partner-font{
    font-size: 60px;
  }
  .title-font{
    font-size: 58px;
  }
}

/* Media query for screens smaller than or equal to 425px */
@media (max-width: 425px) {
  .font-size {
    font-size: 40px; /* Smaller font size for screens narrower than or equal to 425px */
  }
  .partner-font{
    font-size: 35px;
  }
  .title-font{
    font-size: 30px;
  }
}
.textAbout{
  color:#b1dc8e;
}
.bgPartners{
  background-color:#173730;
}