.navbar {
  background: #2e584e;
}
.link-unstyled {
  text-decoration: none;
  color:#92c182;
}
.btnNav {
  background-color: transparent;
  border:2px solid #92c182;
  color:#92c182;
}
.btnNav:hover {
  background-color: transparent;
  transform: scale(1.1);
  transition: transform 0.3s ease;
  border:2px solid #92c182;
}
.hamburger {
  border: none;
}
.logo-color{
  color:#92c182;
}
